.CSSTableGenerator {
  display: inline-block;
  float: left;
	margin:0px;padding:0px;
	width:50%;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;

	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;

	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;

	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.CSSTableGenerator table{
  border-collapse: collapse;
  border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;
  padding:0px;
}

.CSSTableGenerator tr td:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr td:nth-child(even)    { background-color:#ffffff; }

.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:18px;
	color:#000000;
}

.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td{
	border:0px solid #000000;
	text-align:center;
	font-size:28px;
	font-weight:bold;
	color:#000000;
}

.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 0px 0px;
}

table tr td {
  display: block;
  min-height: 26px;
}

tr.accent-tr td {
  background: #bada55 !important;
  border: 1px solid #000 !important;
}
.accent-td {
  background: #bada55 !important;
}

.accent {
  color: #bada55;
}


.end-slide {
  color: black !important;
}
